<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bankett</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="#"><img src="assets/img/banquet.png" class="bankett-icon">Bankett</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#" style="color:rgb(252,242,229);width:250px;">Administratoriem</a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">Pievienot pakalpojumu</a><a class="dropdown-item" role="presentation" href="#">Pievienot ziņu</a></div>
                    </li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#" style="color:rgb(252,242,229);">Blogs</a></li>
                    <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#" style="color:rgb(252,242,229);">Pakalpojumi&nbsp;</a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">Svētku pakalpojumi</a><a class="dropdown-item" role="presentation" href="#">Pieprasīt pakalpojumu pievienošanu</a></div>
                    </li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#" style="color:rgb(252,242,229);"><i class="fa fa-heart" id="navbar-icon"></i>Memo</a></li>
                    <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#" style="color:rgb(252,242,229);">Profils</a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">Mans profils</a><a class="dropdown-item" role="presentation" href="#">Iziet</a></div>
                    </li>
                </ul><span class="navbar-text actions"> </span></div>
        </div>
    </nav>
    <div class="pakalpojums-info">
        <div class="container">
            <div class="row">
                <div class="col-6"><img src="assets/img/large.jpg">
                    <h2 class="pakalpojums-nt">Nosaukums</h2>
                    <h3 class="pakalpojums-nt">Kategorija</h3>
                    <div class="row">
                        <div class="col-6 pakalpojumi-info1">
                            <h4>Cena:</h4>
                        </div>
                        <div class="col-6">
                            <p>Paragraph</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 pakalpojumi-info1">
                            <h4>Atrašanas vieta:</h4>
                        </div>
                        <div class="col-6">
                            <p>Paragraph</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 pakalpojumi-info1">
                            <h4>Cilvēku daudzums:</h4>
                        </div>
                        <div class="col">
                            <p>Paragraph</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 pakalpojumi-info1">
                            <h4>Kontaktinformācija:</h4>
                        </div>
                        <div class="col">
                            <p>Paragraph</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"><button class="btn btn-primary btn-block" type="submit">Uzrakstiet e-ziņu pakalpojuma snedzējam</button></div>
                    </div>
                    <div class="row">
                        <div class="col-6 pakalpojumi-row-button"><button class="btn btn-primary btn-block" type="submit">Rediģet</button></div>
                        <div class="col-6 pakalpojumi-row-button"><button class="btn btn-primary btn-block" type="submit">Dzēst</button></div>
                    </div>
                </div>
                <div class="col-6">
                    <h2></h2>
                    <p>Apraksts</p>
                    <h4>Papildpakalpojumi:</h4>
                    <p>Papildpakalpojumi</p>
                </div>
            </div>
        </div>
    </div>
    <div class="atsauksmes">
        <div class="row no-gutters">
            <div class="col-4 pakalpojumi-info1">
                <h3>Lietotāju atsauksmes</h3>
            </div>
            <div class="col-4 pakalpojumi-info1"><i class="fa fa-comment"></i></div>
            <div class="col-4">
                <h3 class="atsauksme-atstat">Atstāt atsauksmi</h3>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-2 atsauksme-bilde"><img src="assets/img/0_200.png" class="atsauksme-bilde"></div>
                <div class="col-7">
                    <h5>Vārds Uzvārds</h5>
                    <p>Atsauksmes teksts</p>
                </div>
                <div class="col button7"><button class="btn btn-primary btn-block" type="submit">Rediģet</button><button class="btn btn-primary btn-block" type="submit">Dzēst</button></div>
            </div>
        </div>
    </div>
    <div class="footer-basic">
        <footer>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Blogs</a></li>
                <li class="list-inline-item"><a href="#">Pakalpojumi</a></li>
                <li class="list-inline-item"><a href="#">Mans profils</a></li>
            </ul>
            <p class="copyright">Latvijas Universitāte 2018</p>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</body>

</html>