<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bankett</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body>
    <div class="register-photo">
        <div class="form-container">
            <div class="image-holder2"></div>
            <form method="post">
                <h3 class="par-pakalpojumu">Aprakstiet šeit jūsu pakalpojumu, lai mūsu admins varētu to pievienot</h3>
                <div class="form-group"><textarea class="form-control" rows="10"></textarea></div>
                <p>Neaizmirstiet minēt tādus punktus, kā nosaukums, kategorija, cena, atrašanas vieta, kontaktinformācija, cilvēku daudzums, apraksts , bilde un papildpakalpojumi.</p><input type="file">
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Atsutīt</button></div>
                <p class="atcelt">Atcelt</p>
            </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</body>

</html>